<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-document-heading" jhiTranslate="komportementalistApp.document.home.createOrEditLabel">Create or edit a Document</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="komportementalistApp.document.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                    <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="komportementalistApp.document.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                           formControlName="description"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="komportementalistApp.document.url" for="field_url">Url</label>
                    <input type="text" class="form-control" name="url" id="field_url"
                           formControlName="url"/>
                    <div *ngIf="editForm.get('url')!.invalid && (editForm.get('url')!.dirty || editForm.get('url')!.touched)">
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="komportementalistApp.document.duration" for="field_duration">Duration</label>
                    <input type="number" class="form-control" name="duration" id="field_duration"
                           formControlName="duration"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="komportementalistApp.document.creationDate" for="field_creationDate">Creation Date</label>
                    <div class="d-flex">
                        <input id="field_creationDate" type="datetime-local" class="form-control" name="creationDate" formControlName="creationDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="komportementalistApp.document.userCreation" for="field_userCreation">User Creation</label>
                    <input type="text" class="form-control" name="userCreation" id="field_userCreation"
                           formControlName="userCreation"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="komportementalistApp.document.downloadDate" for="field_downloadDate">Download Date</label>
                    <div class="d-flex">
                        <input id="field_downloadDate" type="datetime-local" class="form-control" name="downloadDate" formControlName="downloadDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="komportementalistApp.document.userDownload" for="field_userDownload">User Download</label>
                    <input type="text" class="form-control" name="userDownload" id="field_userDownload"
                           formControlName="userDownload"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="komportementalistApp.document.documentCategory" for="field_documentCategory">Document Category</label>
                    <select class="form-control" id="field_documentCategory" name="documentCategory" formControlName="documentCategory">
                        <option *ngIf="!editForm.get('documentCategory')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="documentCategoryOption.id === editForm.get('documentCategory')!.value?.id ? editForm.get('documentCategory')!.value : documentCategoryOption" *ngFor="let documentCategoryOption of documentcategories; trackBy: trackById">{{ documentCategoryOption.name }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('documentCategory')!.invalid && (editForm.get('documentCategory')!.dirty || editForm.get('documentCategory')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('documentCategory')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="komportementalistApp.document.documentType" for="field_documentType">Document Type</label>
                    <select class="form-control" id="field_documentType" name="documentType" formControlName="documentType">
                        <option *ngIf="!editForm.get('documentType')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="documentTypeOption.id === editForm.get('documentType')!.value?.id ? editForm.get('documentType')!.value : documentTypeOption" *ngFor="let documentTypeOption of documenttypes; trackBy: trackById">{{ documentTypeOption.name }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('documentType')!.invalid && (editForm.get('documentType')!.dirty || editForm.get('documentType')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('documentType')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
